@using FoodBee.Models
@using FoodBee.Services
@inject HttpClient http

@*Display Products*@

@if (Products != null)
{

    @foreach (Product p in Products)
    {
        <a class="card" style="margin: 5px 0px; text-decoration: none; color: initial; height: 6em" href="product/@p.Name">
            <div class="row g-0">
                <div class="col-4">
                    <div class="list-img" style="@productImg(p.ImageUrl)"></div>
                </div>
                <div class="col-8" style="padding-left: 0px">
                    <strong class="card-title">@p.Name</strong><br/>
                    <span class="text-muted"><i class="fa-solid fa-store"></i> @p.Vendor </span><br/>
                    <small>@p.Description.Substring(0, Math.Min(p.Description.Length, 72))...</small><br/>
                </div>
            </div>
        </a>
    }
}

@code {
    [Parameter]
    public List<Product> Products { get; set; }

    private string productImg(string url) => "Background-image: url(" + url + ");";

}
