@using FoodBee.Models
@using FoodBee.Services
@inject HttpClient http

@*Display vendors*@

@if (Vendors != null)
{
    @foreach (Vendor v in Vendors)
    {
        <a class="card" style="margin: 5px 0px; text-decoration: none; color: initial; height: 6rem" href="vendor/@v.Name">
            <div class="row g-0">
                <div class="col-4">
                    <div class="list-img" style="@vendorImg(v.ImageUrl)"></div>
                </div>
                <div class="col-8" style="padding-left: 0px">
                    <strong class="card-title">@v.Name</strong><br/>
                    <span class="text-muted"><i class="fa-solid fa-store"></i> Booth @v.Booth</span><br/>
                    <small>@v.Description.Substring(0, Math.Min(v.Description.Length, 72))...</small><br/>
                </div>
            </div>
        </a>
    }
}

@code {

    [Parameter]
    public List<Vendor> Vendors { get; set; }

    private string vendorImg(string url) => "Background-image: url(" + url + ");";

}
