@page "/help"

@inject NavigationManager Navigator

<div class="container">
    <div class="input-group" style="margin-bottom: 10px">
        <button type="button" class="btn btn-outline-dark" @onclick="@(e => Navigator.NavigateTo(Navigator.BaseUri))"><i class="fa-solid fa-angle-left"></i></button>

        <div style="margin-left: 10px; flex: 1;">
            <h3>Help</h3>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-location-dot"></i> YYC Beer Festival</h5>
            <h6 class="card-subtitle mb-2 text-muted">Friday 5pm - 9pm, Saturday 3pm - 10pm</h6>
         
            <a role="button" class="btn btn-info btn-block" href="call/first-aid"><i class="fa-solid fa-phone"></i> Event First Aid</a>
            <a role="button" class="btn btn-info btn-block" href="call/security"><i class="fa-solid fa-phone"></i> Event Security</a>

            <hr />
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            FAQs
                        </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <dl>
                                <dt>Who even is FoodBee?</dt>
                                <dd>We’re here to make your life easier at food and beverage conventions. If you’re on our app, it means the festival you’re going to has decided to use our app to help you find your way around the festival. We aim to support you to not only find your favorite products and vendors, but to also get there. We understand things can get crowded and confusing at events like this, which is why we created this app to make your life easier. Leave the planning on us, and we’ll leave the fun on you!</dd>

                                <dt>How can I buy my ticket to enter the venue?</dt>
                                <dd>Currently the app does not allow you to purchase your venue ticket through FoodBee, but you can easily head to the event website to buy your ticket at www.somefakeevent.ca. Alternatively, one of the festival employees will be happy to help you with buying your ticket at the door!</dd>

                                <dt>Do I need to be over 18 to go to this convention?</dt>
                                <dd>No! You only need to be over 18 to buy alcohol in accordance with provincial law.</dd>

                                <dt>I’m having trouble with the app, is there anyone I can talk to? </dt>
                                <dd>Yes, please reach out to our customer service team at +1 (403) 000 - 0000 and we will be more than happy to help you.</dd>

                                <dt>I can’t find a booth, how can I use this app to help me?</dt>
                                <dd>We developed an easy to use and informative navigation feature in this app, head over to the homescreen to see the map of the venue and access the navigation features to help you find your way around.</dd>

                                <dt>Is there a fee to use this app? </dt>
                                <dd>No, this app is completely free for you to use. Make sure to install FoodBee on your phone before you go to the festival. Whenever you feel confused or lost at the festival, you will find all the helpful features are there to save your day of fun. Best part? 100% free without any hidden costs.</dd>

                                <dt>What do you do with my information?</dt>
                                <dd>We fully respect the privacy and security of our users, hence we don’t sell or share your information. In fact, we don’t even store any of your information except for login purposes which are encrypted and hashed with state of the art cryptographic schemes</dd>

                                <dt>Is there a helpline?</dt>
                                <dd>Yes! If this page wasn’t helpful enough or if you prefer to speak to a human, feel free to give us a call at +1 (403) 000 - 0000</dd>

                            </dl>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Safety
                        </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            FoodBee is dedicated to promoting a safe, inclusive environment while you attend this event. We do not condone violent, bullying or any unlawful behaviour in any way.
                            For more information regarding this event's safety protocols, please visit their website.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            General Information
                        </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            FoodBee is designed to aid your festival going experience in a non-intrusive way. While you attend your favourite events, we are here to 
                            steer you in the right direction by helping you try amazing local products that fit your needs.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

@code {

    

}
