@page "/help"

<div class="container">
    <div class="input-group" style="margin-bottom: 10px">
        <NavLink href="/">
            <button onclick="window.history.go(-1);" type="button" class="btn btn-outline-dark"><i class="fa-solid fa-angle-left"></i></button>
        </NavLink>
        <div style="margin-left: 10px; flex: 1;">
            <h3>Help</h3>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-location-dot"></i> YYC Beer Festival</h5>
            <h6 class="card-subtitle mb-2 text-muted">Friday 5pm - 9pm, Saturday 3pm - 10pm</h6>
         
            <button class="btn btn-info btn-block" type="button"><i class="fa-solid fa-phone"></i> First Aid</button>
            <button class="btn btn-info btn-block" type="button"><i class="fa-solid fa-phone"></i> Security</button>
            <hr />
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            FAQs
                        </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                        Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Safety
                        </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                        Some placeholder content for the second accordion panel. This panel is hidden by default.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            General Information
                        </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            FoodBee is designed to aid your festival going experience in a non-intrusive way. While you attend your favourite events, we are here to 
                            steer you in the right direction by helping you try amazing local products that fit your needs.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

@code {

}
