.map {
    z-index: 0;
    min-height: 1007px;
    width: 1563px;
    overflow: scroll !important;
    overflow-x: scroll;
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: 200%;*/
}

#destination {
    position: absolute;
    bottom: 390px;
    left: 980px;
}

#dest-card {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

#you-are-here {
    display: block;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: royalblue;
    margin-top: 220px;
    margin-left: 80px;
    border: 4px solid whitesmoke;
    animation: pulse-black 1.5s infinite;
}

@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #b6d1df;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px #b6d1df;
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #b6d1df;
    }
}

#arrow {
    position: absolute;
    width: 2px;
    background-color: red;
    transform-origin: bottom center;
}

    #arrow::before {
        position: absolute;
        height: 0px;
        width: 0px;
        border: 6px solid transparent;
        border-bottom: 8px solid red;
        content: "";
        top: 220px;
        left: 80px;
        transform: translateX(-50%);
    }

.map::-webkit-scrollbar {
    display: none;
}

.map-0 {
    background-image: url("Images/map-f0.png");
}

.map-1 {
    background-image: url("Images/map-f1.png");
}

.map-2 {
    background-image: url("Images/map-f2.png");
}

.blur-map {
    filter: blur(8px) brightness(70%);
    -webkit-filter: blur(8px) brightness(70%);
}

.title {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 1;
    text-align: center;
}

.title-main {
    /*border: 4px solid goldenrod;*/
    font-size: 32px;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    background-color: goldenrod;
    padding: 0px 25px;
    border-radius: 16px;
    margin: 2px -10px;
}

.title-sub {
    /*border: 2px solid darkgoldenrod;*/
    background-color: #ffc107;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    border-radius: 8px;
    padding: 1px 20px;
    /*margin: 0px 10px;*/
}

/* Hex flex grid layout adapted from https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/*/
.menu {
    right: -35px;
    z-index: 2;
    position: fixed;
    top: 0px;
    width: 400px;
    display: flex;
    --s: 96px; /* size  */
    --m: 4px; /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
}

.hide-menu {
    visibility: hidden;
}

.menu-container {
    padding: 0;
    font-size: 0; /*disable white space between inline block element */
}

.menu-item-content {
    margin: 0 auto;
}

.hex-wrap {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    z-index: 1;
}

.menu-container div {
    position: relative;
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547);
    display: inline-block;
    font-size: initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: #ffc107;
    outline: 2px solid goldenrod;
    margin-bottom: calc(var(--m) - var(--s)*0.2885);
}

    .menu-container div:hover {
        cursor: pointer;
    }


.menu-container::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient( #0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}

.menu-icon {
    font-size: 30px;
    margin: 0%;
    position: absolute;
    top: 40%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.icon-label {
    font-size: 16px;
    margin: 0%;
    position: absolute;
    width: fit-content;
    bottom: 10%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.toggle {
    top: 30%;
    left: 30%;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    /*background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;*/
}

.ripple:active {
    background-color: darkgoldenrod;
    background-size: 100%;
    transition: background 0s;
}

.active-filter {
    background: darkgoldenrod !important;
}

.confirm {
    background: #8bc34a;
}
.bottom-right {
    position: fixed;
    right: 10px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.btn.btn-rounded {
    border-radius: 50px !important;
}

.aux-btn {
    margin: 5px;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}