@page "/product"

<div class="container">
    <div class="input-group">
        <NavLink href="/">
            <button onclick="window.history.go(-1);" type="button" class="btn btn-outline-dark"><i class="fa-solid fa-angle-left"></i></button>
        </NavLink>
        <div style="margin-left: 10px; flex: 1;">
            <h3>Product Name</h3>
        </div>
        <button @onclick="ToggleBoookmark" type="button" class="btn btn-light"><i class="@MarkedCSS fa-2x fa-bookmark"></i></button>
    </div>

    <div class="card">
        <div class="row">
            <div class="col">
                <img src="https://via.placeholder.com/180x120.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col">
                <div class="p-3">
                    <h5>Dietary Info</h5>
                    <span class="fa-stack" data-toggle="tooltip" data-original-title="Gluten Free">
                        <i class="fa-solid fa-bread-slice fa-stack-1x"></i>
                        <i class="fa-solid fa-ban fa-stack-2x" style="color:Tomato"></i>
                    </span>
                
                    <span class="fa-stack">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa-solid fa-seedling fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack">
                    <i class="fa-solid fa-ice-cream fa-stack-1x"></i>
                    <i class="fa-solid fa-ban fa-stack-2x" style="color:Tomato"></i>
                    </span>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

</div>

@code {
    private bool Marked = false;

    private string MarkedCSS => Marked ? "fa-solid" : "fa-regular";

    private void ToggleBoookmark() => Marked = !Marked;   
    

}
