@page "/saved-vendors"
@using FoodBee.Components

@*Nothing special here yet just going to re display the vendor list until vertical protoytpe *@

<div class="container">
    <div class="input-group" style="margin-bottom: 10px">
        <NavLink href="/">
            <button onclick="window.history.go(-1);" type="button" class="btn btn-outline-dark"><i class="fa-solid fa-angle-left"></i></button>
        </NavLink>
        <div style="margin-left: 10px; flex: 1;">
            <h3>Saved</h3>
        </div>

        <div class="dropdown" style="margin-left: 5px;">
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-map-location-dot"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">Show Products</a>
                <a class="dropdown-item active">Show Locations</a>
            </div>
        </div>
    </div>
    
    <VendorList/>

</div>

@code {

}
