@page "/vendor"

<div class="container">
    <div class="input-group" style="margin-bottom: 10px">
        <NavLink href="/">
            <button onclick="window.history.go(-1);" type="button" class="btn btn-outline-dark"><i class="fa-solid fa-angle-left"></i></button>
        </NavLink>
        <div style="margin-left: 10px; flex: 1;">
            <h3>Vendor</h3>
        </div>
        <button @onclick="ToggleBoookmark" type="button" class="btn btn-warning btn-lg"><i class="@MarkedCSS fa-bookmark"></i></button>
    </div>
    <div class="card">
        <img src="https://cdn.discordapp.com/attachments/930235478324699181/949037699875078144/unknown.png" class="img-fluid rounded-start" alt="...">
        <div class="card-body">
            <h4 class="card-title">Ctrl+Malt+Del Brewery</h4>
            <p class="card-text">Providing full coverage in the beer market since the epoch.</p>
        </div>
        <span class="text-muted" style="margin-left: 20px;">Our Offerings</span>
        <ul class="list-group list-group-flush">
            @foreach (string p in products)
            {
                <li class="list-group-item"><a href="product" style="display: inline-block; width: 100%">@p<i class="fa-solid fa-angle-right" style="float: right"></i></a></li>
            }
        </ul>
        <div class="card-body">
            <div class="text-muted" style="margin-bottom: 10px"><i class="fa-solid fa-store"></i> Booth 31</div>
            <a class="btn btn-primary btn-block" href="/" role="button"><i class="fa-solid fa-map-pin"></i> Go To Booth</a>
        </div>
    </div>

</div>


@code {
    //PlaceholderContext products for prototype
    private string[] products =
    {
        "Rubber Duck Debigging Ale",
        "SSH Saison",
        "Keyboard Kolsch",
        "LAN Lager",
        "Password Protection Pilsner"
    };


    private bool Marked = false;

    private string MarkedCSS => Marked ? "fa-solid" : "fa-regular";

    private void ToggleBoookmark() => Marked = !Marked;   

}
